(ns {{ns.sym}}
  (:require [clojure.tools.logging :as log :refer [trace debug info]]
            [compojure.core :refer [defroutes GET]]
            [compojure.route :as route :refer [not-found]]
            [ring.middleware.params :refer [wrap-params]]
            [ring.middleware.resource :refer [wrap-resource]]
            [polymeraj.hiccup :refer :all]))

(defroutes {{project}}-routes

  (GET "/" []
    (log/trace "route: /")
    (resume {{ns.sym}}.home/main))

  (route/not-found "Not Found"))

{{#gae}}
(servlet/defservice
{{/gae}}
{{#jetty}}
(def app
{{/jetty}}
  (-> {{project}}-routes
    (wrap-resource "/")
    wrap-params
    (wrap-component '{{project}}.components)))